<script setup></script>
<template>
  <header class="p-12">
    <nav class="flex flex-wrap justify-between pb-16 items-center">
      <NuxtLink to="#" class="flex"
        ><img
          src="/assets/logos/fedora-blue.png"
          alt="Fedora"
          style="height: 36px"
          class="mt-0.5"
        />
        <span
          class="text-blue-dark font-medium uppercase text-2xl pl-2 tracking-normal font-display leading-loose"
          >IoT</span
        ></NuxtLink
      >
      <ul class="flex flex-wrap gap-x-12 items-center">
        <li>
          <NuxtLink
            class="text-fp-blue-light hover:underline underline-offset-8"
            to="#"
            >Download</NuxtLink
          >
        </li>
        <li>
          <NuxtLink
            class="text-fp-blue-light hover:underline underline-offset-8 font-bold"
            to="#"
            >Community</NuxtLink
          >
        </li>
        <li>
          <NuxtLink
            class="text-fp-blue-light hover:underline underline-offset-8"
            to="#"
            >Get Help</NuxtLink
          >
        </li>
        <li>
          <NuxtLink
            class="text-fp-blue-light hover:underline underline-offset-8"
            to="#"
            >Get Started</NuxtLink
          >
        </li>
      </ul>
    </nav>
    <section>
      <h2 class="text-purple pb-3">Community</h2>
      <p class="text-gray ml-1">
        Join a community of users and contributors focused on Fedora IoT.
      </p>
    </section>
  </header>
</template>
